<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yourtree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".mypage"
            android:exported="false" />
        <activity
            android:name=".timetable"
            android:exported="false" />
        <activity
            android:name=".folders"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">

            <!-- 앱처륾 실행 화면 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login_success"
            android:exported="false" />
        <activity
            android:name=".notelist"
            android:exported="false" />
        <activity
            android:name=".graph"
            android:exported="false" />
        <activity
            android:name=".studytree"
            android:exported="false" />
        <activity
            android:name=".book"
            android:exported="false" />
        <activity
            android:name=".friends"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>